<!-- prettier-ignore -->
{% extends "ustc/base.html" %}
{% load i18n %}
{% load ustc_extras %}
{% block title %}{{ admin_class|translated_name }} - {% trans "Admin Class Detail" %}{% endblock %}

{% block content %}
{% trans "N/A" as na_text %}

<div class="detail-header">
  <div>
    <a href="{% url 'ustc:admin-class-list' %}" class="subtle-link">{% trans 'View all admin classes' %}</a>
    <div class="text-start gap-2">
      <h1 class="mb-0">{{ admin_class|translated_name }}</h1>
    </div>
  </div>
</div>

<h4 class="mb-3">{% trans 'Sections for this Admin Class' %}</h4>

<!-- prettier-ignore -->
{% include 'ustc/partials/section_table.html' with sections=admin_class.sections.all show_semester=True empty_message="No sections found for this admin class." %}
{% endblock %}
