<!-- prettier-ignore -->
{% extends "ustc/base.html" %}
{% load i18n %}
{% load ustc_extras %}
{% block title %}{{ course|translated_name }} - {% trans "SiGNAL" %}{% endblock %}

{% block content %}
{% trans "N/A" as na_text %}
<div class="detail-header">
  <div>
    <a href="{% url 'ustc:course-list' %}" class="subtle-link">{% trans "View all courses" %}</a>
    <div class="text-start gap-2">
      <h1 class="mb-0">{{ course|translated_name }}</h1>
      <span class="mb-0 detail-code">{{ course.code }}</span>
    </div>
  </div>
  <div class="flex-grow-1"></div>
  <div class="detail-info-grid">
    <div>
      <div class="detail-info-label">{% trans "Course Type" %}</div>
      <div>{% if course.type %}{{ course.type|translated_name }}{% else %}{{ na_text }}{% endif %}</div>
    </div>
    <div>
      <div class="detail-info-label">{% trans "Course Gradation" %}</div>
      <div>{% if course.gradation %}{{ course.gradation|translated_name }}{% else %}{{ na_text }}{% endif %}</div>
    </div>
    <div>
      <div class="detail-info-label">{% trans "Course Category" %}</div>
      <div>{% if course.category %}{{ course.category|translated_name }}{% else %}{{ na_text }}{% endif %}</div>
    </div>
    <div>
      <div class="detail-info-label">{% trans "Education Level" %}</div>
      <div>{% if course.education_level %}{{ course.education_level|translated_name }}{% else %}{{ na_text }}{% endif %}</div>
    </div>
  </div>
</div>

<h4 class="mb-3">{% trans "Course Sections" %}</h4>

<!-- prettier-ignore -->
{% include 'ustc/partials/section_table.html' with sections=sections show_semester=True empty_message="No sections found for this course." %}
{% endblock %}
