<!-- prettier-ignore -->
{% extends "ustc/base.html" %}
{% load i18n %}
{% load ustc_extras %}
{% block title %}{{ department|translated_name }} - {% trans "Department Detail" %}{% endblock %}

{% block content %}
{% trans "N/A" as na_text %}

<div class="detail-header">
  <div>
    <a href="{% url 'ustc:department-list' %}" class="subtle-link">{% trans "View all departments" %}</a>
    <div class="text-start gap-2">
      <h1 class="mb-0">{{ department|translated_name }}</h1>
      <span class="mb-0 detail-code">{{ department.code }}</span>
    </div>
  </div>
  <div class="flex-grow-1"></div>
  <div class="detail-info-grid">
    <div>
      <div class="detail-info-label">{% trans "Type" %}</div>
      <div>
        {% if department.is_college %}
        <span class="badge bg-primary">{% trans "College" %}</span>
        {% else %}
        <span class="badge bg-secondary">{% trans "Department" %}</span>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
